ul{
    margin: 0;
    padding: 0;
}

.jumbotron {
    margin-bottom: 0;
    padding: 0;
}

/* navbar */

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-expand-lg {
    height: 6em;
    margin: 0;
}

#navbarNavDropdown {
    padding-left: 50vw;
}

/* navbar/modal */
.perfil{
    border-radius: 50%;
    width: 7em;
    height: 7em;
    background-image: url(../assets/images/perfil.png);
    background-size: cover;
    margin-left: 38%;
}
.dropdown-menu{
height: 10em;
}


/* hero */

#taxi {
    background-image: url(../assets/images/taxi.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: none;
    height: 45em;
    width: 100%;
    margin: 0;
}

#cont-card-taxi {
    width: 100%;
    padding-top: 10em;
}

.card-taxi {
    border-radius: 0;
    background-color: #F7B617;
    border: none;
    color: white;
    float: right;
}

.logo-blanco {
    height: 1.2em;
}

.btn-primary {
    background-color: white;
    color: black;
    border: none;
}

.btn-primary:hover {
    background-color: black;
    color: white;
}

#o-bien {
    text-align: center;
}

/* download the app */

#cont-download {
    background-color: #F7B617;
    height: 80vh;
    float: left;
    margin-left: 0em;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.border-cont-phone {
    border: 1px solid white;
    border-left: 0px;
}

.text-phone {
    float: left;
}

.text-phone {
    color: white;
    padding-top: 4em;
}

#phone-picture {
    height: 100%;
    float: left;
}

/* conduce cuando quieras */

#cont-driver {
    background-image: url(../assets/images/conduce.jpg);
    background-size: cover;
    height: 30em;
    float: left;
    margin-left: 0em;
    width: 100%;
}

#cont-card-driver {
    width: 100%;
}

#card-driver {
    border-radius: 0;
    background-color: rgb(0, 0, 0, 0.7);
    border: none;
    color: white;
    float: right;
}

/* tarifas */

#cont-rate {
    background-color: #F7B617;
    height: 30em;
    float: left;
    margin-left: 0em;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

#cont-form {
    padding-top: 3em;
    color: white;
}

.form-control {
    background-color: #F7B617;
    border: 1px solid white;
}

.form-group {
    text-align: center;
}

.map-google {
    width: 100%;
    height: 100%;
}

.cont-map {
    padding: 1em;
    border: 1px solid white;
    margin-right: 1em;
}

.form-control::placeholder {
    color: white;
}

/* logo de contac us */

.logo-up {
    float: left;
    background-color: #2B2B2B;
    height: 6em;
    width: 100%;
    padding-top: 3em;
    padding-left: 1em;
}

/* information contact us */

#cont-contact {
    background-color: #2B2B2B;
    height: 25em;
    float: left;
    margin-left: 0em;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.list-icons {
    position: absolute;
    bottom: 0;
}

.icon {
    list-style: none;
    display: inline-block;
    color: white;
    font-size: .8em;
}

.list-site {
    list-style: none;
}

.text-list {
    color: white;
}

.text-list:hover {
    color: #F7B617;
}

.intern {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

.img-store {
    width: 100%;
    height: 12%;
}

/* footer */

footer {
    float: left;
    background-color: #2B2B2B;
    height: 3em;
}

.footer {
    color: white;
    margin: 0;
    margin-left: 5em;
}

@media (min-width: 576px) {
    #cont-card-taxi-mobile {
        display: none;
    }
    .text-phone-mobile {
        display: none;
    }
    #cont-contact-mobile {
        display: none;
    }
}

/* max @media 576px */

@media (max-width: 576px) {
    /* taxi */
    #taxi {
        height: 35em;
    }
    #cont-card-taxi {
        display: none;
    }
    #cont-card-taxi-mobile {
        padding-top: 10em;
        display: block;
        width: 100%;
        padding-left: 2em;
    }
    .card-taxi-mobile {
        border-radius: 0;
        background-color: #F7B617;
        border: none;
        color: white;
        float: right;
    }
    .logo-blanco-mobile {
        height: 1.2em;
    }
    .btn-primary-taxi {
        background-color: white;
        color: black;
        border: none;
        width: 10em;
        height: 3em;
        weight: bold;
        margin-left: 2sem;
        font-size: 1.3em;
    }
    .btn-primary:hover {
        background-color: black;
        color: white;
    }
    /* download */
    .text-phone {
        display: none;
    }
    .text-phone-mobile {
        display: block;
        height: 3em;
        float: left;
        color: white;
    }
    .border-cont-phone {
        border: 1px solid white;
        height: 90%;
        width: 100%;
    }
    #cont-download {
        padding: 1em;
    }
    /* driver */
    .driver-btn {
        background-color: #F7B617;
        color: white;
        border: none;
        width: 16em;
        weight: bolder;
        font-size: 1.3em;
        height: 2.4em;
    }
    #card-driver {
        padding-top: 4em;
        height: 100%;
    }
    .card-title-driver, .card-text-driver {
        font-size: 1.6em;
    }
    #btn-primary-register {
        width: 100%;
    }
    /* tarifas */
    .input-cont {
        width: 80%;
        float: left;
    }
    .col-form-label {
        width: 10%;
        float: left;
    }
    #btn-trazar {
        width: 50%;
        font-size: 1.3em;
    }
    #cont-rate {
        height: 50em;
    }
    #cont-form {
        height: 20em;
    }
    .cont-map {
        margin-left: 1em;
    }
    /* footer */
    .logo-up {
        float: left;
    }
    .list-icons {
        position: static;
    }
    #cont-contact {
        display: none;
    }
    #cont-contact-mobile {
        display: block;
        float: left;
        background-color: #2B2B2B;
        width: 100%;
        margin: 0;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }
    .intern-mobile {
        float: left;
        width: 46%;
    }
    .intern-mobile-images {
        float: left;
        width: 46%;
    }
    .img-store {
        padding-top: 1em;
    }
    .footer{
        padding: 0;
        width: 75%;
    }
}
