.jumbotron {
    margin-bottom: 0;
    padding: 0;
}

/* navbar */

.container-fluid {
    margin: 0;
    padding: 0;
}

.navbar-expand-lg {
    height: 6em;
    margin: 0;
}

#navbarNavDropdown {
    padding-left: 50vw;
}

/* hero */

#taxi {
    background-image: url(../assets/images/taxi.jpg);
    background-size: cover;
    background-position: bottom;
    background-repeat: none;
    height: 45em;
    width: 100%;
    margin: 0;
}

#cont-card-taxi {
    width: 100%;
    padding-top: 10em;
}

.card-taxi {
    border-radius: 0;
    background-color: #F7B617;
    border: none;
    color: white;
    float: right;
}

.logo-blanco {
    height: 1.2em;
}

.btn-primary {
    background-color: white;
    color: black;
    border: none;
}

.btn-primary:hover {
    background-color: black;
    color: white;
}

#o-bien {
    text-align: center;
}

/* download the app */

#cont-download {
    background-color: #F7B617;
    height: 80vh;
    float: left;
    margin-left: 0em;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

.border-cont-phone {
    border: 1px solid white;
    border-left: 0px;
}

.text-phone {
    float: left;
}

.text-phone {
    color: white;
    padding-top: 4em;
}

#phone-picture {
    height: 100%;
    float: left;
}

/* conduce cuando quieras */

#cont-driver {
    background-image: url(../assets/images/conduce.jpg);
    background-size: cover;
    height: 30em;
    float: left;
    margin-left: 0em;
    width: 100%;

}

#cont-card-driver {
    width: 100%;
}

#card-driver {
    border-radius: 0;
    background-color: rgb(0, 0, 0, 0.7);
    border: none;
    color: white;
    float: right;
}

/* tarifas */

#cont-rate {
    background-color: #F7B617;
    height: 80vh;
    float: left;
    margin-left: 0em;
    width: 100%;
    padding-top: 2em;
    padding-bottom: 2em;
}

#cont-form{
    padding-top: 3em;
}

.form-control{
    background-color:  #F7B617;
    border: 1px solid white;
}

.form-group{
    text-align: center;
}

.map-google{
    width: 100%;
    height: 100%;
}
.cont-map{
    padding: 1em;
    border: 1px solid white;
    margin-right: 1em;
}
